<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">Cazzola Propiedades</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/imoveis">Imóveis</a></li>
        <li class="nav-item"><a class="nav-link" href="/contato">Contato</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/properties">Admin imóveis</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/leads">Admin leads</a></li>
      </ul>
      <div class="d-flex gap-2">
        <a class="btn btn-outline-primary" href="/imoveis?type=venda">Quero comprar</a>
        <a class="btn btn-primary" href="/contato">Fale conosco</a>
      </div>
    </div>
  </div>
</nav>
